
@{
    ViewBag.Title = "verify";
}
@model PayPing.Ipg.Models.ResponseVerifyViewModel

<div class="row col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h2>@Html.DisplayName(Model.Message ?? "Error")</h2>
    </div>
</div>


